.footer__column-link {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer__column-link:hover {
  opacity: 50%;
  transition: 0.5s;
}
